body {
	background: #FFFFFF;
	background-position: top;
	background-size: cover;
	font-family: Proxima Nova, 'Roboto', sans-serif;
	font-size: 16px;
}

header {
	background: url("../images/supporthero.jpg");
	background-size: cover;
}

div / section {
	padding: 1em;
	margin: 0em;
}

main {
}

#two_column {
	padding: 20px;
}

.left {
	padding: 1.5em;
	margin: 0% 0% 0% 2.5%;
	float: left;
	width: 40%;
	min-width: 350px;
}

.right {
	padding: 1.5em;
	margin: 0% 2.5% 0% 0%;
	float: right;
	width: 40%;
	min-width: 380px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Index */
.logo {
	max-width: 120px;
	align-self: left;
	padding: .5em;
}

#herotext {
	font-size: 6em;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
	padding: .5em;
}
#slogan {
	font-style: italic;
	font-size: 3em;
	color: #FFFFFF;
	text-align: center;
	padding: .5em;
}

.content{
	text-align: center;
	line-height: 2em;
	color: #000000;
	padding: 1em;
	max-width: 800px;
	margin: 0 auto;
	display: block;
}

.lists{
	text-align: left;
	line-height: 2em;
	color: #1984BC;
	max-width: 600px;
	list-style-type: none;
}

.subheaders{
	line-height: 2em;
	color: #000000;
	max-width: 600px;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	padding: 0em 0em .5em 0em;
}

/* Articles */
.article {
	color: #000000;
	max-width: 600px;
	line-height: 1.5em;
	text-align: left;
	padding: 0em 1em 2em 1em;
}

.articletitle{
	color: #1984BC;
}

.articleimage{
	max-width: 600px;
}

.articlelists{
	text-align: left;
	line-height: 1.5em;
	max-width: 600px;
}

a:hover {
	color: #83BC3C;
}

a {
	color: #1984BC;
	text-decoration: none;
}

hr {
	color: #83BC3C;
	width: 600px;
}

p{

}

/*Media Queries*/
@media only screen and (max-width: 1055px) {
	#herotext {
	font-size: 5em;
	}
	.left {
	padding: 1em;
	width: 30%;
	}
	.right {
	padding: 1em;
	width: 30%;
	}
}

@media only screen and (max-width: 925px) {
	#herotext {
	font-size: 4.5em;
	}
	.left {
	padding: 0em;
	width: 25%;
	}
	.right {
	padding: 0em;
	width: 25%;
	}
}

@media only screen and (max-width: 815px) {
	#herotext {
	font-size: 4em;
	}
	#slogan {
	font-size: 2.5em;
	}
	.left {
	padding: 0em;
	margin: 0%;
	width: 20%;
	}
	.right {
	padding: 0em;
	margin: 0%;
	width: 20%;
	}
}

@media only screen and (max-width: 770px) {
	#herotext {
	font-size: 3em;
	padding: 1em;
	}
	#slogan {
	font-size: 2em;
	}
	.content{
	padding: .5em;
	line-height: 1.5em;
	}
	.left {
	padding: 0px;
	margin: 0 auto;
	float: none;
	}
	.right {
	padding: 0px;
	margin: 0 auto;
	float: none;
	}
}

@media only screen and (max-width: 575px) {
	#herotext {
	font-size: 2em;
	padding: 1em;
	}
	#slogan {
	font-size: 1.5em;
	}
	.content{
	padding: .5em;
	line-height: 1.5em;
	}
	.left {
	padding: 0px;
	margin: 0 auto;
	float: none;
	}
	.right {
	padding: 0px;
	margin: 0% auto;
	float: none;
	}
	.list_anchor {	
	color: #FFFFFF;
	display: block;
	padding: 1em;
	background: #1984BC;
	border-radius: .25em;
	border: #1984BC;
	border-style: solid;
	}
	li{
		padding: .25em 0em;
	}
}
